/* -----Reset----- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
  color: #092032;
}

a {
  color: #092032;
  text-decoration: none;
  transition: all 0.4s ease;
  font-weight: 500;
}

img {
  width: 100%;
}

section{
    padding:80px 0;
}

.bg-cover {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.intro{
  margin-bottom:40px;
}

.intro h6{
  font-weight:400;
  color: #052c97;
}

.intro p{
  max-width:500px;
  margin:auto;
}


/* ---END OF RESET ----- */

